<header class="site-header" role="banner">
  <nav class="nav" aria-label="Main navigation">
    <a class="brand" href="index.html">MySite</a>
    <ul class="nav-links">
      <li><a href="index.html">Home</a></li>
      <li><a href="login.html">Login</a></li>
      <li><a href="account.html">Account</a></li>
      <li><a href="comments.html">Comments</a></li>
    </ul>
  </nav>
</header>
