services:
  backend-nodejs:
    build: ./node
    container_name: backend-nodejs
    restart: unless-stopped
    environment:
      - NODE_ENV=production
      - PORT=3001
    volumes:
      - ./public:/app/public:ro
      - ./node/data:/app/node/data
    networks:
      - app-network
#Proxy manager
  nginx-proxy-manager:
    image: 'jc21/nginx-proxy-manager:latest'
    container_name: nginxManager
    restart: unless-stopped
    ports:
      - "80:80" #HTTP Traffic
      - "443:443" #HTTPS Traffic
      - "5001:81" #Admin Pannel
    volumes:
      - ./nginx/data:/data
      - ./nginx/letsencrypt:/etc/letsencrypt

    networks:
      - app-network
  
networks:
    app-network:
      driver: bridge
   