<header class="site-header" role="banner">
  <nav class="nav" aria-label="Main navigation">
    <a class="brand" href="/">MySite</a>
    <ul class="nav-links">
      <li><a href="/">Home</a></li>
      <li><a href="/comments">Comments</a></li>
      {{#if user}}
        <li><a href="/profile">Profile</a></li>
        <li><a href="/chat">Chat</a></li>
        <li>
          <form action="/logout" method="POST" style="display:inline">
            <button type="submit" class="link-button">Logout</button>
          </form>
        </li>
      {{else}}
        <li><a href="/login">Login</a></li>
      {{/if}}
    </ul>
  </nav>
</header>
