<header class="site-header" role="banner">
  <nav class="nav" aria-label="Main navigation">
    <a class="brand" href="/">MySite</a>
    <ul class="nav-links">
      <li><a href="/">Home</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/account">Account</a></li>
      <li><a href="/comments">Comments</a></li>
    </ul>
  </nav>
</header>
